extends layout

block content
  img(id="puzzle-image" src=`${imageUrl}` style="display: none; object-fit: cover" tabindex="-1" aria-hidden="true")
  .pieces-container 
  .grid 
  script(src="/javascripts/play.js" defer) 