html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: sans-serif;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

button {
  cursor: pointer;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 0;
}
.image-container .image {
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.image-container .image.active {
  border: 3px solid rgb(87, 199, 35);
}

.pieces-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}
.pieces-container img {
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min(65vw, 40vh);
  border: 1px solid gray;
  margin: auto;
  position: relative;
}
.grid .cell {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid gray;
  transition: border 100ms;
}
.grid .cell.overlap {
  border: 2px solid aqua;
}

.win {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
  display: none;
  z-index: 2147483647;
}
.win h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
  opacity: 0;
  transform: translateY(20px);
}
.win a {
  color: #000;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: auto;
}
